@CHARSET "ISO-8859-1";

#rifornimento{
	border: 2px solid black;

	width:580px;
	text-align: center;
	padding:2px;
	margin:0 auto;
    margin-bottom: 20px;
}


#dettaglir table{
	border: 2px solid black;
}

.maglietta{
	height:325px;
}